/*=================================================================== CSS slideshow =========================================================*/
.bd-slideshow {
    height: 600px;    /* thay đổi thông số ở đây phải thay cùng với width ở dưới */
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-show {
    width: 1000px;    /* thay đổi thông số ở đây phải thay cùng với height ở trên */
    overflow: hidden;
    position: relative;
}
.list-images {
    display: flex;
    transition: 0.5s;
}
.btn:hover {
    color: white;
}
.btn {
    font-size: 45px;
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}
.btn-left {
    left: 0;
}
.btn-right {
    right: 0;
}
.index-images {
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
.index-item {
    border: 1px solid black;
    padding: 5px;
    margin: 4px;
    border-radius: 50%;
}
.active {
    background-color: black;
}

/*=================================================================== CSS product =========================================================*/
.product img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}
.product img:hover {
    transform: scale(1.1);
}
.product-card {
    padding: 20px;
    text-align: center;
}

/*=================================================================== CSS main =========================================================*/
